.d1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
}

.d2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: bisque;
    margin-top: -50px;
    margin-left: 20px;
    
}