li{
    display: inline;
}

span{
    display: block;
}

a{
    display:block;
}

span.a{
    display: inline;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}

span.b{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}

span.c{
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}