li{
    display: inline;
}

span{
    display: block;
}

a{
    display:block;
}

span.a{
    display: inline;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}

span.b{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}

span.c{
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: yellow;
}

.bg-practice{
    background-color: black;
    padding: 20px;
}

.bg-practice h1{
    background-color: chartreuse;
}

.bg-practice p{
    background-color: red;
}

.d-h-w{
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

.d2-h-w{
    min-height: 100px;
    min-width: 500px;
    background-color: powderblue;
}

.box-model{
    background-color: dimgray;
    width: 300px;
    width: 50%;
    border: 15px solid green;
    margin: 20px;
    padding: 50px;
    color: white;
}